[submodule "triplegeo/triplegeo"]
	path = triplegeo/triplegeo
	url = git@github.com:SLIPO-EU/TripleGeo.git
[submodule "limes/limes"]
	path = limes/limes
	url = https://github.com/dice-group/LIMES.git
[submodule "fagi/fagi"]
	path = fagi/fagi
	url = https://github.com/SLIPO-EU/FAGI
[submodule "deer/deer"]
	path = deer/deer
	url = https://github.com/SLIPO-EU/deer
[submodule "fagi/fagi-partitioner"]
	path = fagi/fagi-partitioner
	url = https://github.com/SLIPO-EU/fagi-partitioner.git
[submodule "fagi/fagi-merger"]
	path = fagi/fagi-merger
	url = https://github.com/SLIPO-EU/fagi-merger.git
[submodule "deer/deer-slipo-plugin"]
	path = deer/deer-slipo-plugin
	url = https://github.com/SLIPO-EU/deer-slipo-plugin/
[submodule "fagi/fagi-ml-rules"]
	path = fagi/fagi-ml-rules
	url = https://github.com/SLIPO-EU/fagi-ml-rules
